* {
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: rgb(224, 254, 255);
}

.content-container {
    align-items: center;
    justify-content: space-around;
}

.content-title {
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
}

.movie-title a {
    text-decoration: none;
}

.movie-container {
    display: flex;
    flex-direction: row;
    text-align: center;
    margin: 2rem;
    margin-top: 0;
    margin-bottom: 1rem;
    border: 2px solid black;
    border-radius: 10px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    height: 315px;
    background-color: rgb(255, 197, 241);

}

.movie-title {
    font-size: 3rem;
    font-weight: 300;
    margin-bottom: 1rem;
    text-align: start;
}

.card-right {
    margin-left: 2rem;
    height: fit-content;

}

.movie-desc {
    width: 50vw;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.5rem;
}

.movie-banner {
    margin-bottom: 1rem;
}

.movie-banner img {
    width: 450px;
}